*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.grid{
    width: 100%;
    border:1px dotted black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
}

.gridItem {
    background-color: aquamarine;
    
    align-self: center; /*or align-self:end  or  align-self:start 
     default value is align-self:stretch*/

    justify-self: center; /*or justify-self:end  or  justify-self:start 
    default value is justify-self:stretch*/
}

.gridItem1 {
    
}




