*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.grid{
    width: 100%;
    border:1px dotted black;
    height: 600px;
    display: grid;
    grid-gap: 15px;

    justify-content: space-evenly; /* start / end / center /
    stretch / space-around / space-between / space-evenly */

    align-content:space-evenly; /* start / end / center /
    stretch / space-around / space-between / space-evenly */
}

.gridItem {
    text-align: center;
    padding-top: 10px;
    width: 100px;
    height: 100px;
}
.gridItem1 {
    background-color:aqua;
}
.gridItem2 {
    background-color: antiquewhite;
}
.gridItem3 {
    background-color:aquamarine;
}





